html, 
body,
#root,
.app,
.page {
    height: 100%;
    width: 100%;
    
}
a img, :link img, :visited img  {
    border: none;
    outline: none;
    transform: none;
    }
a:focus{
    border: none;
    outline: none;
    transform: none;
} 

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
  }
  button:focus {
    outline: none;
    transform: none;
}

body {
    margin: 0;
    padding: 0;
    background: #181a19 no-repeat;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;

    

    /* object-fit: contain; */
}

.text-center {
    margin: 0 auto;
}

.page {
    width: 1140px;
    /* height: 100px; */
    margin: 0 auto;
    
}

.container-news {
    margin-top: 50px;
    background: #FFFFFF;
    min-height: 1400px;
    /* min-height: 100%; */
    /* padding: 40px; */
    overflow-y: auto;
    padding: 4.39%;
}

.big-preview {
    position: relative;
    width: 60%;
    height: 580px;
}

.big-preview__img {

}
.big-preview__info{
    position: relative;
    /* margin-top: -50px; */
}
.big-preview__layer{
    z-index: 1;
    color: white;
    /* background: yellowgreen; */

    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    /* margin-left: -50px; */
    top: 0;
}
.big-preview__title{

}

.text_white{

}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}