.login__container{
    display: flex;
    z-index: 2;

    background: white;
    color: black;

    width: 100%;
    height: 100%;
}
.login__group{
    width: 35%;
    padding: 20px;
    display: grid;
}
.login__input-name{

}

.login___input{
    background: #fbdac0;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login__input-password{

}

.login__label-name{
    font-size: 12px;
}
.login__label-password{
    font-size: 12px;
}
.modal-bg{
    position: fixed;
    background: #252020d4;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login__btn{
    margin-bottom: 0;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-left: 1px solid #706F6F;
    box-shadow: none;
}