.preview__author{
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.preview__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 320px;
    top: 463px;
    width: 100%;
}
.container_small{
    width: 38.46%;
    display: flex;
    align-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 30px;
    /* height: 100%; */
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.preview__img_small {
    width: 100%;
    height: 50%;

}
.preview{
    width: 50%;

}
/* Container holding the image and the text */
.container {
    /* font-family: Roboto; */
    /* font-family: Arial; */
    /* padding: 4.39%; */
    min-height: 100%;
    text-align: center;
}

.container__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Bottom right text */
.preview__text-block {
    position: absolute;
    bottom: 35%;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.preview__text-block_small{
    position: relative;
    color: black;
    height: 21.76%;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
}
.preview_big {
    position: relative;
    width: 57.69%;
    margin-bottom: 30px;
}
.preview__item_small {
    width: 100%;
    height: 47.45%;
}
.img-container{
    width: 100%;
    height: 78.23%;
}
.btn {
    background: #FFFFFF;
    border: 1px solid #706F6F;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}