.preview__author{
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.preview__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 320px;
    top: 463px;
    width: 100%;
}
.container_small{
    width: 38.46%;
    display: flex;
    align-content: space-between;
    flex-flow: row wrap;
    /* margin-bottom: 30px; */
    /* height: 100%; */
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.preview__img_small {
    width: 100%;
    height: 50%;

}
.preview{
    width: 50%;

}
/* Container holding the image and the text */
.container {
    /* font-family: Roboto; */
    /* font-family: Arial; */
    /* padding: 4.39%; */
    min-height: 100%;
    text-align: center;
}

.container__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 35px;
}
.container__item:last-child{
    margin-bottom: 50px;
}
/* Bottom right text */
.preview__text-block {
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
}
.preview__text-block_small{
    position: relative;
    color: black;
    height: 45px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
}
.preview_big {
    position: relative;
    width: 57.69%;
    height: 580px;
    
}
.preview__text-block:hover{
    background: #2e262680;
    cursor: pointer;
}
.preview__item_small {
    width: 100%;
    height: 47.45%;
}

.preview__item_small:hover{
    cursor: pointer;
}

.preview__item_small:hover .img-container .img {
    /* background: #2e262680;
    filter: brightness(.5); .img-container  */
}
.preview__item_small:hover .img-container__layer{
    background: #2e262680;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.preview__item_small:hover .preview__text-block_small {
    text-decoration: underline;
}

.img-container{
    width: 100%;
    height: 230px;
    position: relative;
}
.btn {
    background: #FFFFFF;
    border: 1px solid #706F6F;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 5px;
}
.title-news{
    width: 53.37%;
    margin: 28px auto 54px auto;
}
.title-news__title{
    font-family: Roboto;
    font-size: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.news__title-container{
    text-align: center;
    border: solid;
    margin-bottom: 20px;
}
.title-news__author {
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto;
}
.news__content{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.1em;

    color: #333333;
}
.preview__title-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 182px auto 162px auto;
    width: 60.56%;
}