.search__group-container{
    position: relative;
}

.search__container{
    display: flex;
    width: 74.5%;
    position: relative;
}

.search__title{
    position: relative;
    display: inherit;
    width: 88.39%;
    font-size: 48px;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    justify-content: center;
}

.btn-search{
    width: 11.41%;
    align-items: center;
    border: none;
    outline: 2px solid #333333;
}
.search__layer{
    position: absolute;
    top: 0px;
    left: 1px;
    width: 99.7%;
    height: 100%;
    outline: 2px solid #786428;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search__icon{
    /* width: 11.41%; */
    /* width: 9.31%; */
    /* position: absolute; */
    width: 7.71%;
    z-index: 2;
}
.search__input:focus{
    border: none;
    outline: none;
}
.search__input{
    width: 86%;
    height: 50%;
    background: #181a19;
    /* background: wheat; */
    position: absolute;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 7%;
    padding-left: 7%;
    border: none;
    /* text-transform: uppercase; */
    letter-spacing: 0.1em;
    font-size: 18px;
    line-height: 21px;
    color: #706F6F;
}
    