.login__container{
    /* position: absolute; */
    /* display: flex; */
    text-transform: uppercase;
    color: black;
}
.login__group{
    width: 60%;
    margin-bottom: 10px;
    /* padding: 20px; */
    display: grid;
    box-sizing: border-box;
}
.login__input-name{

}

.login___input{
    background: #fbdac0;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login__input-password{

}

.login__label-name{
    font-size: 12px;
    letter-spacing: 0.1em;
   
}
.login__label-password{
    font-size: 12px;
    letter-spacing: 0.1em;

}
.modal-bg{
    position: fixed;
    background: #252020d4;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.login__layer{
    position: fixed;
    width: 100%;
    height: 100%;
    
    background: #000000e0;
    top: 0;
    left: 0;
    z-index: 1;
}
.login__form{
    position: fixed;
    z-index: 2;
    background: white;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.cancel__btn{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.login__btn-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.create__btn{
    border: none;
    box-shadow: none;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.login__btn{
    border: none;
    box-shadow: none;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.btn-form:hover{
    text-decoration: underline;
}

.login__save{
    width: 60%;
    margin-bottom: 50px;
    letter-spacing: 0.1em;
    font-size: 12px;
}